@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: open sans, sans-serif;
}

body {
  background: #d9d9da;
  overflow-X: hidden;
  overflow-y: auto;
}

p + h1 {
  margin-top: 50px;
}

.outerWrapper {
  height: calc(100vh - 2rem);
  margin: 0.9rem;
  margin-left: 0.5rem;
  background: #fff;
  border-radius: 1.4rem;
  display: grid;
  grid-template: 1fr 1fr 1fr / 0.6fr 1fr 1fr 1fr;
}

.innerWrapper {
  border: 8px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center/cover;
  /* overflow: hidden; */
}

.container__row {
  display: flex;
  align-items: center;

  justify-content: space-evenly;
}

.container__col.desc {
  margin-left: 80px;
  padding-left: 40px;
  align-self: flex-start;
  margin-top: 40px;
}
.container__col.desc h1 {
  color: #a1a1a4;
  font-size: 1rem;
}
.container__col.desc p {
  font-size: 1.4rem;
  font-weight: bold;
}

.card {
  width: 600px;
  height: 400px;
  background-color: #e899dc;
  background-image: linear-gradient(105deg, #f47c95 45%, #f56b85 45%);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.5), -1px -1px 2px #aaa,
    1px 1px 2px #555;
  padding: 3rem;
  border-radius: 3rem;
  animation: 1s cubic-bezier(0.16, 1, 0.3, 1) cardEnter;
}

.card__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.card__row.card__number {
  display: flex;
  margin-right: 90rem;
  padding-bottom: 2rem;
}

.card__title {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  color: #fff;

  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.card__col.reveal {
  display: flex;
  width: 32rem;
}

.card__col.card__balance {
  font-size: 5.9rem;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.card__input {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.card__input--large {
  font-size: 2rem;
}

.card__input::placeholder {
  color: #fff;
  text-shadow: none;
}

.card__input:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.6);
}

.card__label {
  font-size: 1.2rem;
  margin-right: 6px;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  font-weight: 400;
}

.card__chip {
  padding-top: 2.5rem;
}

.card__chip img {
  width: 3.4rem;
}

.card__info {
  width: 32rem;
  height: 4rem;
  border: 1px solid #fff;
  border-radius: 4rem;
  background: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  color: #2085ff;
  cursor: pointer;
}

.header {
  padding: 2rem;

  margin-bottom: 3rem;
  position: relative;
  padding-bottom: 0;
  grid-column: 1 / 5;
}

.header > h1 {
  margin-bottom: 0.3rem;

}

.header p {
  color: #555;
}

.header::after {
  content: "";
  height: 2px;
  width: 74%;
  position: absolute;
  background: #d9d9da;
  top: 7.4rem;
  left: 2rem;
  bottom: 0;
}

.left-side {
  grid-column: 1 / 2;
}

.main {
  grid-column: 2 / 3;
}

.right-side {
  padding-top: 2rem;
  grid-column: 3 / 4;
  margin-left: 5rem;
}

.right-side > h1 {
  font-size: 1rem;
  color: #a2a2a4;
}

.right-side p {
  font-size: 1.4rem;
}

.after-right-side {
  grid-column: 4 / 5;
}

.footer {
  grid-column: 2 / 3;
  margin-top: 2rem;
  margin-left: 4rem;
}

.footer p {
    color: #555;
}

.footer__text {
  animation-fill-mode: forwards !important;

  animation: 2s cubic-bezier(0.16, 1, 0.3, 1) helpEnter;
  animation-delay: 0.8s;

  transform: translateY(100vw);
}

.header__prompt,
.footer__prompt {
  text-decoration: none;
  color: #3283e6 !important;
}

.anticon {
  margin: 10px;
  cursor: pointer;
}
/* Animations */

@keyframes cardEnter {
  from {
    transform: translateY(100vh);
    opacity: 0.1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes helpEnter {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

/* Media Queries */

@media (max-width: 1135px) {
  .outerWrapper {
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
  }
  .header {
    padding: 2rem;
    grid-column: 1 / 4;
  }

  .main {
    grid-column: 2/ 3;
  }

  .right-side {
    padding: 2rem;
    grid-column: 2 / 3;
  }

  .footer {
    padding: 2rem;
    grid-column: 2 / 3;
  }
}
